# Gradle og bygging
.gradle/
gradle/gradle-daemon-jvm.properties
build/

# Lokale innstillinger og sensitive data
local.properties
*.jks
*.keystore

# IDE (Android Studio / IntelliJ)
.idea/
*.iml

# Android-spesifikt
captures/
.navigation/

# Native kode (C/C++)
.cxx/
.externalNativeBuild/

# Systemfiler (Mac / Windows)
.DS_Store
Thumbs.db
